<div id="infoEvento">
	<h4>Agiles Open Buenos Aires Seguridad 2013!</h4>

	<p>Desde 2008 con las Jornadas Latinoamericanas Ágiles, y desde el 2009 con los Agile Open en Buenos Aires, Córdoba, Tandil, La Plata, Mar del Plata, Bahía Blanca, Tucumán y Paraná, este año organizamos el evento Agile Open Buenos Aires Seguridad 2013, enfocado en el tema Seguridad y Agile.</p>

	<p>Este evento servirá para la capacitación y el intercambio de experiencias relacionadas con la seguridad informática. Esperamos juntar distintas comunidades en un encuentro enriquecedor con un formato que nunca falla (Open Space).</p>
</div>